[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "simPATHy"]
	path = simPATHy
	url = https://github.com/cran/simPATHy
[submodule "SourceSet"]
	path = SourceSet
	url = https://github.com/cran/SourceSet
